@using Hospital.Models.Hospital.RequestDto;
@using Hospital.Models.Hospital.ResponseDto;
@model GetClinicResponseDto;

@{
    ViewData["Title"] = "Clinics";
}

<div class="d-flex justify-content-between align-items-center">
    <h4>@Model.DepartmentName > @Model.Name</h4>
    <form asp-controller="Doctor" asp-action="create" asp-route-id="@Model.Id" method="post">
        <button type="submit" class="btn btn-outline-secondary">
            Add Doctor
        </button>
    </form>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mt-3" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<div class="main-card mt-4">
    @if (Model.Doctors.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 20%;">
                        Full Name
                    </th>
                    <th style="width: 20%;">
                        Phone
                    </th>
                    <th style="width: 20%;">
                        Email
                    </th>
                    <th style="width: 40%;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Doctors)
                {
                    <tr>
                        <td>
                            @item.FullName
                        </td>
                        <td>
                            +90 @item.Phone
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td class="text-end">
                            @Html.ActionLink("Edit", "Edit","Doctor", new { id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete","Doctor", new RemoveDoctorRequestDto (item.Id ,Model.Id ))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-dark" role="alert">
            No doctor added yet
        </div>
    }
</div>
