@model IEnumerable<Hospital.Models.Hospital.ResponseDto.GetClinicResponseDto>

@{
    ViewData["Title"] = "Clinics";
}


<div class="d-flex justify-content-between align-items-center">
     <h3>Clinics</h3>
    <div asp-action="Create">
        Create Clinic
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Department
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.DepartmentName
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    </tbody>
</table>
